<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyAlert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20D699671C746FB10063D2F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20D699801C746FB10063D2F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20D6998B1C746FB20063D2F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
